* {
  margin: 0;
  padding: 0;
}

div {
  margin: 10% 0 0 10%;

  ol li {
    width: 480px;
    border: 1px solid;
    padding: 20px 0 20px 20px;
  }
}

h1 {
  width: 480px;
  height: 40px;
  cursor: pointer;
  border: 1px solid;
  padding: 20px 0 20px 20px;
}
